*.o
.deps
/*.bak
/*.gcda
/*.gcno
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/hexcalculator/hexcalculator/__pycache__
/lcdhitachi/lcdhitachi/__pycache__
/outlineview/outlineview/__pycache__
/so_locations
/tags
